body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
}

.container {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 50%;
    height: 65%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.header-project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
}
.title {
    font-size: 24px;
    color: #6a4c93;
    font-weight: bold;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side-title {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-btn-new {
    width: 100%;
    height: 11%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /*background-color: red;*/
}
.parent-btn-new {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /*background-color: #9f01ea;*/
}
.button-new-project {
    background: linear-gradient(to right, #5aafff, #138EFF);
    color: white;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 90%;
    text-decoration: none!important;
    margin-right: 10%;
}
.button:hover {
    opacity: 0.9;
}
.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 20%;
    /*background-color: red;*/
}
.input-group label {
    display: flex;
    font-weight: bold;
    width: 90%;
    height: 20%;  
    align-items: center;
    justify-content: flex-start;
    color: #3bc4ff;
}
.input-group select,
.input-group textarea {
    display: flex;
    width: 90%;
    height: 60%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #3bc4ff;
    color: #6a4c93;
    outline: none!important;

}
.input-group-description textarea {
    width: 87%;
}
.input-group-description {
    height: 30%;
}

.content-button-open {
    width: 100%;
    height: 17%;
    /*background-color: yellow;*/
}
.button-open-project {
    background: linear-gradient(to right, #00d4ff, #2b59e2);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    width: 35%;
    height: 60%;
    margin-top: 1%;
}