<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Projet</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/project-list.css') }}">
</head>
<body>
    
    <div class="container">
        <div class="header-project">
            <div class="side-title"> </div>    
            <div class="title">PROJETS</div>
            <a href="{{ url_for('auth.logout') }}" class="side-title">
                <img src="{{ url_for('static', filename='images/account.png') }}" class="account">
            </a>

        </div>
        <div class="content-btn-new">
            <div class="parent-btn-new"> 
                <a href="{{ url_for('project.projectNew') }}" class="button-new-project button">
                    Nouveau
                </a>
            </div>

        </div>
        <div class="input-group">
            <label>Liste des projets</label>
            <select id="project-select">
                {% if project_list %}
                    {% for project in project_list %}
                        <option value="{{ project.id }}" data-description="{{ project.description }}">
                            {{ project.name }} - Version {{ project.version }}
                        </option>
                    {% endfor %}
                {% else %}
                    <option disabled>Aucun projet</option>
                {% endif %}
            </select>
        </div>
        <div class="input-group input-group-description">
            <label>Description</label>
            <textarea id="project-description" readonly style="resize: none;">
                {{ project_list[0].description if project_list else "Aucune description disponible" }}
            </textarea>
        </div>
        <div class="content-button-open">
            <button class="button-open-project button">Ouvrir</button>
        </div>
    </div>

    <script>
        document.getElementById('project-select').addEventListener('change', function() {
            var selectedOption = this.options[this.selectedIndex];
            var description = selectedOption.getAttribute('data-description');
            document.getElementById('project-description').value = description;
        
        
        });
        document.querySelector('.button-open-project').addEventListener('click', function() {
            var selectElement = document.getElementById('project-select');
            var selectedOption = selectElement.options[selectElement.selectedIndex];
            var projectId = selectedOption.value;
            window.location.href = "{{ url_for('project.projectDetail', project_id='') }}" + projectId;
        });
    </script>

</body>
</html>
