<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Information du test</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/test-detail.css') }}">
</head>
<body>   
    <div class="container">
        <div class="header-project">
            <a class="side-title"  href="{{ url_for('project.projectDetail', project_id=project_id) }}">
                <img src="{{ url_for('static', filename='images/retour.png') }}" class="account">
            </a> 
            <div class="title">{{ test[0]["code"].upper()+": "+ test[0]["description"]}}</div>
            <a class="side-title">
                <img src="{{ url_for('static', filename='images/account.png') }}" class="account">
            </a>
        </div>
        <div class="container-parent-left-right">
            <div class="container-left">
                <div class="content-input-group content-input-group-up">
                    <div class="input-group">
                        <label>Url de l'application</label>
                        <input name="test_url" type="text" id="test-url" value="{{ test[0]['test_url'] }}"/>
                    </div>            
                    <div class="input-group">
                        <label>Type d'action</label>
                        <select name="type_scenario" id="type_scenario">
                            <option value="fill">Champ à remplir</option>
                            <option value="click">Bouton</option>
                            <option value="check">Cocher</option>
                            <option value="uncheck">Décocher</option>
                            <option value="press">Appuyer</option>
                            <option value="focus">Focus</option>
                            <option value="drag_and_drop">Glisser-déposer</option>
                            <option value="dblclick">Double clic</option>
                            <option value="right_click">Clic droit</option>
                            <option value="hover">Survol</option>
                            <option value="press_sequentially">Appuyer séquentiellement</option>
                            <!-- Ajoutez d'autres types d'actions ici si nécessaire -->
                        </select>  
                    </div>   
                </div>
                <div class="content-input-group form-content-input-group"  >
                    <div class="input-group">
                        <label>Identifiant de l'élément</label>
                        <input name="name_element" type="text" class="input-group-code-test-input"/>
                    </div>
                    <div class="input-group input-group-description">
                        <label>Valeur de l'élément (si applicable)</label>
                        <input name="value_element" id="test-description" class="same-textarea"/>
                    </div>
                </div>
                <div class="content-input-group">
                    <div class="input-group input-group-text-to-scenario">
                        <label class="input-group-text-to-scenario-label">Users stories & QA testing to Scenario</label>
                        <input name="users_stories_qa_testing_to_scenario" id="test-description" class="input-group-text-to-scenario-input"/>
                    </div>
                </div>
            </div>

            <div class="container-right">
                <a href="{{ url_for('test.testArchive', test_id=test[0]['id']) }}" class="button-archive button">
                    Archive
                </a>
                <button class="button button-new-scenario">
                    Ajouter le scénario
                </button>
                <button class="button button-convert-to-scenario">
                    Convertir en scénario
                </button>
                <button class="button button-launch-test">
                    Lancer le test
                </button>   
            </div>
        </div>
        <div class="table-container">
            <table class="test-table">
                <thead>
                    <tr>
                        <th>Code scénario</th>
                        <th>Type</th>
                        <th>Identifiant de l'élément</th>
                        <th>Valeur de l'élément</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for scenario in scenarios %}
                        <tr  data-scenario-id="{{ scenario.id }}">
                            <td>{{ scenario["code"] }}</td>
                            <td>{{ scenario["type"] }}</td>
                            <td>{{ scenario["label"] }}</td>
                            <td>{{ scenario["value"] }}</td>
                            <td class="action-buttons">
                            
                                <a id="delete-scenario" href="#"><img src="{{ url_for('static', filename='images/delete.png') }}" alt="Supprimer"></a>
                                
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <p id="messageNoData" >
            Aucun test trouvé
        </p>
        
    </div>
</div>

<script>
document.querySelector('.button-new-scenario').addEventListener('click', function() {
    const testUrl = document.getElementById('test-url').value;
    const typeScenario = document.getElementById('type_scenario').value;
    const nameElement = document.querySelector('input[name="name_element"]').value;
    const valueElement = document.querySelector('input[name="value_element"]').value;
    const testId = {{ test[0]['id'] }};

    if (!testUrl || !nameElement) {
        alert("Veuillez remplir tous les champs obligatoires.");
        return;
    }

    fetch('{{ url_for("test.addScenario") }}', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({
            test_url: testUrl,
            type_scenario: typeScenario,
            name_element: nameElement,
            value_element: valueElement,
            test_id: testId
        })
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            window.location.href = '{{ url_for("test.testDetail", test_id=test[0]["id"]) }}';
        } else {
            alert("Erreur lors de l'ajout du scénario.");
        }
    })
    .catch((error) => {
        console.error('Error:', error);
    });
});

document.querySelectorAll('#delete-scenario').forEach(button => {
    button.addEventListener('click', function(event) {
        event.preventDefault();
        
        const row = this.closest('tr');
        const scenarioId = row.getAttribute('data-scenario-id');
        const testId = {{ test[0]['id'] }};

        if (confirm("Êtes-vous sûr de vouloir supprimer ce scénario ?")) {
            fetch('{{ url_for("test.deleteScenario") }}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    scenario_id: scenarioId,
                    test_id: testId
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    window.location.href = '{{ url_for("test.testDetail", test_id=test[0]["id"]) }}';
                } else {
                    alert("Erreur lors de la suppression du scénario.");
                }
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }
    });
});

document.querySelector('.button-launch-test').addEventListener('click', function() {
    const testId = {{ test[0]['id'] }};
    const testCode = encodeURIComponent("{{ test[0]['code'] }}");
    const testDescription = encodeURIComponent("{{ test[0]['description'] }}");
    const testUrl = encodeURIComponent("{{ test[0]['test_url'] }}");
    
    // Construire l'URL avec les paramètres de requête
    const url = `{{ url_for("test.launchTest") }}?id=${testId}&code=${testCode}&description=${testDescription}&test_url=${testUrl}`;
    
    // Rediriger vers l'URL
    window.location.href = url;
});

</script>
<!-- tout est ok lesyyyy ehhhh OKAY OKAY -->
      
</body>
</html>
